.footer {
  width: 100%;
  height: 70px;
  background: #bbdccb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.footerContainer {
  position: sticky;
  bottom: 0px;
  z-index: 100;
}

.diagonal {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 48px;
  background: #bbdccb;
  transform: rotate(-1deg);
}

.socials {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
  font-size: 2rem;
}

.icon {
  margin-right: 0.8rem;
  color: black;
}

.icon:hover {
  font-size: 2.3rem;
  cursor: pointer;
}
