.red {
  background: #f6ccd0;
  border-radius: 10%;
  height: 400px;
  min-width: 260px;
  max-width: 300px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px black;
}

.blue {
  background: #b4dce3;
  border-radius: 10%;
  height: 400px;
  min-width: 260px;
  max-width: 300px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px black;
}

.yellow {
  background: #fdeeb3;
  border-radius: 10%;
  height: 400px;
  max-width: 300px;
  min-width: 260px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px black;
}

.brown {
  background: #d9cbc2;
  border-radius: 10%;
  height: 400px;
  min-width: 260px;
  max-width: 300px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px black;
}

.description {
  padding: 1rem;
  font-size: 0.7rem;
  background: white;
  border-radius: 10%;
  margin: 1.6rem 2rem;
  border: 2px solid black;
}

.img {
  width: 180px;
  height: 140px;
  border-radius: 10%;
  box-shadow: 3px 3px 3px black;
}

.addButton {
  background: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(83px, 42px);
  border: 2px solid black;
  font-size: 1.2rem;
  z-index: 0;
}

.infoButton {
  background: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-80px, 42px);
  border: 2px solid black;
  font-size: 1.2rem;
  z-index: 0;
  font-style: italic;
  padding-right: 2.5px;
}

.infoButton:hover {
  border: 3px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}

.addButton:hover {
  border: 3px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}

.price {
  background: white;
  border-radius: 20%;
  width: 60px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-75px, -80px);
  border: 2px solid black;
  font-size: 1.2rem;
}

.title {
  margin-bottom: 2rem;
  font-style: italic;
  background: white;
  border-radius: 20%;
  padding: 0.55rem;
  border: 2px solid black;
}
